body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.container {
    padding: 10px;
    background-color: #e7eaf6;
    font-family: sans-serif;
}

.header {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.header .title {
    flex: 1;
    padding: 10px;
    font-size: 40px;
    font-weight: 800;
    border-radius: 10px;
    background-color: rgba(20, 41, 64, 0.752);
    color: rgba(208, 207, 207, 0.877);
    text-align: center;
    align-content: center;
}

.header .parameter {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: rgba(20, 41, 64, 0.752);
    color: rgba(208, 207, 207, 0.877);
    align-items: center;
}

.header .parameter .sub-parameter {
    flex: 2;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.header .parameter .sub-parameter .para {
    flex: 1;
    display: flex;
}

.speed,.size {
    margin-right: 20px;
    width: 40%;
}

input {
    width: 50%;
}

.button {
    flex: 1;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    height: 50px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.508);
    color: rgba(208, 207, 207, 0.701);
    border: 0px solid black;
    border-radius: 10px;
}

.button:hover{
    font-size: 22px;
    transition: font-size .2s ease-in-out;
}

.algo {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.algo-button {
    margin: 10px 0;
    padding: 5px 15px;
    border: 0px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.508);
    color: rgba(208, 207, 207, 0.701);
}

.active, .algo-button:hover{
    background-color: rgba(0, 0, 0, 0.755);
    transform: scale(1.1) ;
    transition: transform 0.2s ease;
}

.main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.complexity {
    padding: 0 30px;
    flex: 1;
    /* border: 0px solid black; */
    border-radius: 10px;
    background-color: rgba(37, 37, 36, 0.616);
    color: rgba(208, 207, 207, 0.701);
    min-height: 72.5vh;
}

.heading{
    color: rgba(0, 0, 0, 0.793);
    text-align: center;
}

.cases {
    display: flex;
    flex-wrap: wrap;
    line-height: 0;
}

.sub-heading{
    font-weight: 700;
    font-size: 1.1rem;
    width: 35%;
    padding: 0;
}

sup {
    font-size: 0.8em;
    vertical-align: super;
}

#Time_Worst, #Time_Average, #Time_Best, #Space_Worst{
    font-family:'Trebuchet MS';
    letter-spacing: 2px;
    font-weight: 600;
}

.array-container {
    flex: 2;
    padding: 10px;
    border: 0px solid black;
    border-radius: 10px;
    background-color: rgba(37, 37, 36, 0.616);
    color: rgba(208, 207, 207, 0.701);
    display: flex;
    align-items: flex-end;
    width: 100%;
    min-height: 69vh;
}

.array-bar {
    background-color: rgba(20, 41, 64, 0.552);
    margin: 0 1px;
    border-radius: 7px 7px 0 0;
    transition: all 0.2s ease;

}

@media(max-width: 1024px){
    .main{
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    input {
        width: auto;
    }
}